.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;

  > * {
    place-content: center;
  }
}

.character-list-item {
  border: 1px solid hsl(10% 50% / 15%);
  border-radius: 0.7rem;
  box-shadow: 0 1rem .5rem -.5rem;
  box-shadow:
    0 2.8px 2.2px hsl(210 10% 23% / calc(2% + 3%)),
    0 6.7px 5.3px hsl(210 10% 23% / calc(2% + 1%)),
    0 12.5px 10px hsl(210 10% 23% / calc(2% + 2%)),
    0 22.3px 17.9px hsl(210 10% 23% / calc(2% + 2%)),
    0 41.8px 33.4px hsl(210 10% 23% / calc(2% + 3%)),
    0 100px 80px hsl(210 10% 23% / 2%)
  ;
  padding: 0.5rem;
  width: 7.5rem;
  transition: box-shadow 0.2s;
}

.character-list-item:hover {
  box-shadow: 0 0.25rem 1rem #0002;
}

.character-list-image {
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
